@import "./variables.scss";
@import "./mixins.scss";
@import "./common.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./home.scss";
@import "./products.scss";
@import "./cart.scss";
@import "./indivudual-product-page.scss";
@import "./contact-us.scss";
@import "./mobile-styles.scss";
.App {
  text-align: center;
  font-family: "Coming Soon", cursive;
  a {
    text-decoration: none;
    color: white;
    font-family: "Coming Soon", cursive;
  }
  input,
  button,
  select {
    font-family: "Coming Soon", cursive;
  }
}

.container {
  height: 73.5vh;
}
