@import "./variables.scss";
@import "./mixins.scss";
@import "./common.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./home.scss";
@import "./products.scss";
@import "./cart.scss";
@import "./indivudual-product-page.scss";
@import "./contact-us.scss";

.App {
  text-align: center;
  a {
    text-decoration: none;
    color: white;
  }
}

.container {
  height: 73.5vh;
}
