.footer-wrapper {
  background-color: $dark-cyan;
  display: flex;
  justify-content: space-between;
  height: 11vh;
  width: 100%;
  z-index: 10;

  .footer-left {
    padding-left: 20px;
  }

  .footer-right {
    display: flex;
    align-items: center;
    padding-right: 20px;

    img {
      height: 50%;
      width: auto;
      margin: 15px;
      transition: ease-in-out 1s;

      &:hover {
        cursor: pointer;
        transform: rotate(360deg);
      }
    }
  }
}
