.fadein {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  img {
    width: 100%;
    height: 32.5rem;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 20s;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#f1 {
  background-color: lightblue;
}
#f2 {
  -webkit-animation-delay: -13s;
}
#f3 {
  -webkit-animation-delay: -8s;
}

.main-content {
  position: absolute;
  top: 55vh;
  z-index: 10;
  left: 20%;
  display: flex;
  align-items: flex-end;

  .img-wrapper {
    background-color: $apricot;
    justify-self: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 0px 0px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 20vw;
    }
  }

  .word-wrapper {
    margin-top: -30px;
  }
}

.intro-paragraph {
  margin-top: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 60%;
    border: 1px solid $dark-cyan;
    border-radius: 10px;
    padding: 35px;
  }
}
